.container {
  margin: 20px;
}

table {
  width: 100%;
}

/* totales.component.css */
.totales-container {
  margin-right: 20px;
}

.totales-card {
  width: 300px;
}

.row-div{
  padding-top: 5px;
  padding-bottom: 5px;
}
